.ul-jobs {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  list-style-type: none;
}

.li-job {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  list-style-type: none;
  margin: 10px;
}

.status-applied {
  background-color: gray;
}

.status-interview {
  background-color: rgb(89, 89, 237);
}

.status-rejected {
  background-color: rgb(245, 4, 4);
}
